{
  "openapi": "3.2.0",
  "info": {
    "title": "Samsun Büyükşehir Belediyesi Asis Ulaşım API",
    "description": "**Resmi şema tarafımca düzenlenmiştir:** Turan KAYA\n**Orijinal Şema:** [https://api.samsun.bel.tr/OHSSoapToJson/swagger/index.html](https://api.samsun.bel.tr/OHSSoapToJson/swagger/index.html)\n\n**SAMSUN TRANSIT - SUPER APP (MASTER API DOKÜMANTASYONU)**\nBu API şeması, Samsun Büyükşehir Belediyesine ait tüm toplu taşıma, akıllı şehir bileşenleri, havaalanı transferleri ve turistik hatların verilerinin Samsun Transit ana projemizde (samsun.py) nasıl çekilip, nasıl işlendiğini anlatan kapsamlı bir \"Master Pipeline Rekor\" (Yedek) belgesidir.\n\n---\n\n### 1️⃣ Veri Kaynakları ve Bileşenler (Data Sources)\n\n**A. ASİS API (SOAP to JSON Adaptörü)**\n- Sistemin ana omurgasıdır. Bütün standart otobüs hatları, tramvay saatleri ve 1600'den fazla durağın temel verisi buradan beslenir.\n- **Lines / OrjLines:** Otobüs hatlarının id'leri (Örn: 15, E2, R2) ve uzun isimleri (Örn: `13 KAMALI TOKİ - SOĞUKSU`) çekilir.\n- **StopsStations:** Araçların durak koordinatlarını verir.\n- **RealTimeData & Schedules:** Araçların anlık lokasyonlarını, plaka numaralarını ve gün içerisindeki operasyon planlarını sunar.  \n\n**B. YBS (Yönetim Bilgi Sistemi) API'leri**\n- Diğer özel ve turistik hizmetlerin bağlı olduğu, ayrı bir kimlik doğrulama gerektiren özel sistemdir.\n- **Token Mekanizması (Quirk):** Sistemdeki uç noktalara (Örn: Samair veya Odak) istek atabilmek için öncelikle `getGuestToken` adresinden misafir bileti alınır. Bu biletin (token) ömrü 200 saniye ile sınırlıdır. Bu sebeple \"samsun.py\" içinde özel bir _Token-Pool (Self-Caching)_ mekanizması ile tokenlar süreleri bitene kadar hafızada tutulup her 3 dakikada bir arka planda yenilenir.\n- **Samair API'leri:** `samair_ucaksefersaatleri_public` ve `samair_duraklar_public` uç noktalarından Havalimanı otobüslerinin hareket durumları çekilir.\n- **Odak Samsun API'si:** Turistik hatlar (Ayvacık Barajı, Şahinkaya Kanyonu vb.) bu noktadan `odakSamsun_Crud` metodu üzerinden çekilir. \n\n**C. Samulaş Web Sitesi (Scraping)**\n- API'lerin doğrudan sağlayamadığı \"Bilet Fiyatları\" `samulas.com.tr/otobusler` adresinden Beautifulsoup HTML ayrıştırıcısı ile toplanarak fiyat veri tabanına yazılır. E1, E2, E3 gibi kodlarla API ID'leri veritabanı aşamasında birbirleriyle eşleştirilir.\n\n---\n\n### 2️⃣ Pipeline: Veri Geliştirme (Mapping) & Bug Çözümleri (Quirks)\n\nCanlı ortam verileri sisteme işlenirken birçok veri tutarsızlığı on the fly (çalışma anında) çözümlenmektedir:\n\n**1. ID Mapping Operasyonları**\nSamair uçuşlarını çekerken Belediye veritabanı ID'leri ile UI (Kullanıcı Arayüzü) ID'leri arasında şu eşleştirmeler (Map) uygulanır:  \n- `H1 OMÜ` = YBS ID `3`  \n- `H2 TTTM` = YBS ID `4`\n- `H3 BAFRA` = YBS ID `5`  \n- `H4 ÇARŞAMBA` = YBS ID `9`  \n- Express hat kodları alias olarak düzenlenir (Örn: `SAMULAŞ EKSPRES 2-DÖNÜŞ` => `E2`).\n\n**2. Turistik Hatlarda 'Gidiş/Dönüş' API Hatası Çözümü (Quirk)**\nOdak API'si Şahinkaya, Kızılırmak ve Ayvacık rotalarında \"Gidiş\" ve \"Dönüş\" text değerlerini tam ters formatta (Hatalı) döndürmektedir. `samsun.py` içinde `ODAK_ISIM_DUZELTME` tablosu kullanılarak, durak numaraları (1-2 ve 3-4 gibi) üzerinden \"Eğer ilk durak TTTM ise bu aslında Gidiş'tir\" mantığı çalıştırılır ve isimler veri tabanına düzeltilmiş haliyle kaydedilir.\n\n**3. Odak API Referer Koruma Duvarı (WAF Bypass)**\n`odakSamsun_Crud` metoduna yapılan tüm isteklerde sistemin yetkisiz girişi engellememesi adına HTTP Client başlığına `Referer: https://odak.samsun.bel.tr/` maskesi uygulanır.\n\n**4. Karakter Encoding Probleminin Giderilmesi**\nVeriler Windows-1254 altyapısından bozuk encoding ile JSON formatında (Örn: `¦, ‹, Ý` = `İ`) dönebilmektedir. Bunun için `fix_turkish` gibi custom bir regex tabanlı çevirmen filtre sistemiyle Türkçe harf stabilizasyonu sağlanır.\n\n---\n\n### 3️⃣ Veritabanı ve Çıktılar\n\nBütün bu ASİS, YBS ve Web verileri SQLite (`samsun_v25.db`) veritabanında \"hat, durak, guzergah, sefer, canli\" tablolarında senkronize edilir. \nBu temiz ve standardize edilmiş tablo sayesinde standart **(1) GTFS Formatında** ve **(2) GTFS Realtime Formatında** dosyalar üretilebilmekte, böylece Samsun Transit projemiz uluslararası ulaşım analiz altyapıları ile (Google Maps, Moovit vb) tam uyumlu bir ekosisteme kavuşturulmaktadır.",
    "version": "1.0",
    "contact": {
      "name": "Turan KAYA"
    }
  },
  "servers": [
    {
      "url": "https://api.samsun.bel.tr/OHSSoapToJson",
      "description": "Ana API Sunucusu"
    }
  ],
  "paths": {
    "/api/Asis/Lines": {
      "get": {
        "tags": [
          "Asis - Hat ve Güzergah İşlemleri"
        ],
        "summary": "Tüm Aktif Hatları Getir",
        "description": "Sistemde tanımlı olan tüm toplu taşıma hatlarının (Otobüs, Ekspres, Ring vb.) listesini döndürür.",
        "responses": {
          "200": {
            "description": "Başarılı. Hat listesi başarıyla alındı.",
            "content": {
              "application/json": {
                "example": {
                  "statusCode": 200,
                  "message": "",
                  "data": [
                    {
                      "lineCode": "13 TOKİ-BL.EVLERİ",
                      "lineNo": "35",
                      "lineName": "13 KAMALI TOKİ - SOĞUKSU",
                      "shortLineName": "339",
                      "tip": "donus"
                    },
                    {
                      "lineCode": "SAMULAŞ EKSPRES",
                      "lineNo": "158",
                      "lineName": "E1 OMÜ - SOĞUKSU",
                      "shortLineName": "302",
                      "tip": "donus"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/Asis/OrjLines": {
      "get": {
        "tags": [
          "Asis - Hat ve Güzergah İşlemleri"
        ],
        "summary": "Orijinal Hat Listesini Getir",
        "description": "Asis sistemindeki filtrelenmemiş/ham orijinal hat verilerini döndürür.",
        "responses": {
          "200": {
            "description": "Başarılı. Ham hat listesi alındı.",
            "content": {
              "application/json": {
                "example": {
                  "statusCode": 200,
                  "message": "",
                  "data": [
                    {
                      "lineCode": "13 TOKİ-BL.EVLERİ",
                      "lineNo": "35",
                      "lineName": "13 KAMALI TOKİ - SOĞUKSU",
                      "shortLineName": "339",
                      "tip": "donus"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/Asis/StopsStations": {
      "get": {
        "tags": [
          "Asis - Durak İşlemleri"
        ],
        "summary": "Durak Bilgilerini Sorgula",
        "description": "Belirli bir hatta ait tüm durakların listesini veya belirli bir durağa ait detayları getirir. Koordinat ve durak sırası bilgilerini içerir.",
        "parameters": [
          {
            "name": "lineCode",
            "in": "query",
            "description": "Sorgulanacak hattın tam kodu (Örn: '13 TOKİ-BL.EVLERİ')",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "stopId",
            "in": "query",
            "description": "Spesifik olarak detayları istenen durağın ID numarası (Örn: 800)",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Başarılı. Durak veri seti getirildi.",
            "content": {
              "application/json": {
                "example": {
                  "statusCode": 200,
                  "message": "",
                  "data": [
                    {
                      "stopId": "800",
                      "stopName": "İLK DURAK",
                      "orderId": "0",
                      "latitude": "41.2915",
                      "longitude": "36.3374"
                    }
                  ]
                }
              }
            }
          }
        },
        "x-gtfs-mapping": {
          "stopId": "→ durak.id (orijinal) / durak.gtfs_stop_id (GTFS ASCII-safe)",
          "stopName": "→ durak.ad (orijinal) / durak.gtfs_stop_name (GTFS Title Case)",
          "latitude/longitude": "→ durak.lat / durak.lon (GTFS stop_lat / stop_lon)"
        }
      }
    },
    "/api/Asis/SmartStations": {
      "get": {
        "tags": [
          "Asis - Durak İşlemleri"
        ],
        "summary": "Akıllı Durak Ekran Görünümü",
        "description": "Fiziksel akıllı durak ekranlarındaki canlı bilgilendirme verilerini simüle eder.",
        "parameters": [
          {
            "name": "stationId",
            "in": "query",
            "description": "Akıllı Panel Kimlik Numarası",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Başarılı.",
            "content": {
              "application/json": {
                "example": {
                  "statusCode": 200,
                  "message": "",
                  "data": []
                }
              }
            }
          }
        }
      }
    },
    "/api/Asis/LineDirections": {
      "get": {
        "tags": [
          "Asis - Hat ve Güzergah İşlemleri"
        ],
        "summary": "Hat Yön Bilgilerini Getir",
        "description": "Belirtilen hattın Gidiş (Forward) ve Dönüş (Backward) olmak üzere operasyonel yön bilgilerini verir.",
        "parameters": [
          {
            "name": "lineCode",
            "in": "query",
            "description": "Yön bilgileri istenen hat kodu",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Başarılı.",
            "content": {
              "application/json": {
                "example": {
                  "statusCode": 200,
                  "message": "",
                  "data": [
                    {
                      "Direction": "CIRCULAR",
                      "lineCode": "KAMALI TOP.KONT.",
                      "lineNo": "119",
                      "stopName": "İLK DURAK",
                      "orderId": "0",
                      "durakId": "800"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/Asis/RealTimeData": {
      "get": {
        "tags": [
          "Asis - Canlı Araç Takibi"
        ],
        "summary": "Canlı Araç Konumları",
        "description": "Seçilen hatta şu anda aktif olarak hizmet veren araçların anlık GPS koordinatlarını ve plaka bilgilerini döndürür.",
        "parameters": [
          {
            "name": "lineCode",
            "in": "query",
            "description": "Araçları takip edilecek hattın kodu",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Başarılı. Anlık lokasyon verisi alındı.",
            "content": {
              "application/json": {
                "example": {
                  "statusCode": 200,
                  "message": "",
                  "data": [
                    {
                      "LineCode": "SAMULAŞ EKSPRES 4-GİDİŞ",
                      "LastLocationTime": "2026-02-27T13:42:15.000",
                      "Lat": "41.3145",
                      "Lng": "36.2763",
                      "PlateNumber": "55SBB102",
                      "Speed": "35",
                      "Direction": "FORWARD",
                      "BusType": "12M"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/Asis/Schedules": {
      "get": {
        "tags": [
          "Asis - Sefer Saatleri"
        ],
        "summary": "Hareket Saatleri Planlaması",
        "description": "Otobüs veya tramvayların ilk duraktan kalkış saatleri planını günlük formatta verir.",
        "parameters": [
          {
            "name": "lineCode",
            "in": "query",
            "description": "Sefer saatleri istenen hattın kodu",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "scheduleDate",
            "in": "query",
            "description": "Sorgulanacak günün tarihi (YYYY-MM-DD formatında)",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Başarılı. Sefer planı listesi.",
            "content": {
              "application/json": {
                "example": {
                  "statusCode": 200,
                  "message": "",
                  "data": [
                    {
                      "DepartureTime": "06:30:00",
                      "IsWheelchairAccessible": true,
                      "Note": ""
                    },
                    {
                      "DepartureTime": "07:00:00",
                      "IsWheelchairAccessible": true,
                      "Note": ""
                    }
                  ]
                }
              }
            }
          }
        }
      },
      "x-gtfs-mapping": {
        "DepartureTime": "→ sefer.saat (orijinal) / GTFS stop_times.arrival_time",
        "lineCode→hat": "→ sefer.hat (orijinal) / sefer.gtfs_route_id (ASCII-safe)",
        "gun": "→ sefer.gun (orijinal) / sefer.gtfs_service_id (1=Hİ, 2=CMT, 3=PZR, 4=HerGün)",
        "trip": "→ sefer.gtfs_trip_id (auto-generated T_{id})"
      }
    },
    "/?method=getGuestToken": {
      "get": {
        "tags": [
          "YBS - Yetkilendirme"
        ],
        "summary": "Misafir Token Al (Guest Token)",
        "description": "**ÖNEMLİ (Quirk):** YBS servislerinin büyük çoğunluğu her istekte güncel bir `token` parametresine ihtiyaç duyar. Bu token'ın süresi yaklaşık 200 saniye (3 dakika) kadardır. `samsun.py` içinde kendi thread-safe cache mekanizması (ybs_token metodu) ile yönetilir.",
        "servers": [
          {
            "url": "https://ybs.samsun.bel.tr/service",
            "description": "YBS API Sunucusu"
          }
        ],
        "responses": {
          "200": {
            "description": "Başarılı.",
            "content": {
              "application/json": {
                "example": {
                  "token": "ikyRM7OdnfKl"
                }
              }
            }
          }
        }
      }
    },
    "/?method=samair_ucaksefersaatleri_public": {
      "get": {
        "tags": [
          "YBS - Samair Havaalanı Servisleri"
        ],
        "summary": "Havaalanı Sefer Saatleri",
        "description": "**ÖNEMLİ:** YBS endpointlerinde parametreler bazen boş dönebilir, tip yapısı dict veya list olarak karmaşık gelebilir. `samair_ucaksefersaatleri_public` metodu uçuş saatini ve otobüs kalkış detaylarını verir.",
        "servers": [
          {
            "url": "https://ybs.samsun.bel.tr/service",
            "description": "YBS API Sunucusu"
          }
        ],
        "parameters": [
          {
            "name": "submethod",
            "in": "query",
            "description": "Alt metod adı (Örn: HatlarList)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "hatid",
            "in": "query",
            "description": "Hat kimliği (Örn: H1 için 3, Bafra için 8 vs.)",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "token",
            "in": "query",
            "description": "Geçerli YBS Token'i",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Başarılı.",
            "content": {
              "application/json": {
                "example": {
                  "status": "SUCCESS",
                  "data": [
                    {
                      "id": 21793,
                      "hatid": 3,
                      "saat": "00:30:00",
                      "varis_saati": "01:45:00",
                      "tarih": "2026-02-27",
                      "ucak_firmasi": "AJET",
                      "ucak_saatleri": "03:30",
                      "formatted_date": "27 Şubat 2026 Cuma"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/?method=samair_duraklar_public": {
      "get": {
        "tags": [
          "YBS - Samair Havaalanı Servisleri"
        ],
        "summary": "Samair Durak Listesi",
        "description": "Samair otobüslerine ait durak koordinatlarını ve bilet fiyatlandırmalarını listeler.",
        "servers": [
          {
            "url": "https://ybs.samsun.bel.tr/service",
            "description": "YBS API Sunucusu"
          }
        ],
        "parameters": [
          {
            "name": "submethod",
            "in": "query",
            "description": "Alt metod adı (Örn: DuraklarList)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "token",
            "in": "query",
            "description": "Geçerli YBS Token'i",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Başarılı.",
            "content": {
              "application/json": {
                "example": {
                  "status": "SUCCESS",
                  "data": [
                    {
                      "id": 1,
                      "durak_adi": "Rektörlük Tramvay İstasyonu",
                      "durak_lat": "36.225315980358843",
                      "durak_long": "41.3718854642756",
                      "durak_kodu": "31632",
                      "durak_fiyat": "130"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/?method=odakSamsun_Crud": {
      "get": {
        "tags": [
          "YBS - Odak (İlçe Hatlar)"
        ],
        "summary": "Odak Samsun Hat ve Durak Verileri",
        "description": "**ÖNEMLİ (Header Quirk):** `odakSamsun_Crud` metodu çalışmak için HTTP isteklerinde `Referer: https://odak.samsun.bel.tr/` header alanına ihtiyaç duyar. Ayrıca alt metodu (HatlarAllList, HatlarList, GetHatDuraklar vb.) query ile belirtilir.",
        "servers": [
          {
            "url": "https://ybs.samsun.bel.tr/service",
            "description": "YBS API Sunucusu"
          }
        ],
        "parameters": [
          {
            "name": "submethod",
            "in": "query",
            "description": "HatlarAllList, HatlarList veya GetHatDuraklar",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "description": "GetHatDuraklar çağırılırken hat ID gereklidir.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "token",
            "in": "query",
            "description": "Geçerli YBS Token'i",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Başarılı.",
            "content": {
              "application/json": {
                "example": {
                  "status": "SUCCESS",
                  "data": [
                    {
                      "id": 6,
                      "durak_adi": "Toplu Taşıma Transfer Merkezi",
                      "durak_lat": null,
                      "durak_long": null,
                      "durak_kodu": "13831",
                      "durak_fiyat": "115,00",
                      "durak_fiyat_ogr": "92,00"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/lines/list": {
      "get": {
        "tags": [
          "Samulaş Web APIleri (V1)"
        ],
        "summary": "Tüm Hatlar ve Kısa Kodları (Short Names)",
        "description": "Samulaş'ın yeni V1 API'si. Bu uç nokta, ASİS sistemine GTFS (Route Short Name) ve güzergahın ilk/son durak koordinatlarını sağlamak amacıyla 'zenginleştirici' (fallback/enhancer) olarak sisteme entegre edilmiştir.",
        "servers": [
          {
            "url": "https://samulas.com.tr"
          }
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Sayfa Numarası",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Sayfa Başına Kayıt Sayısı",
            "schema": {
              "type": "integer",
              "default": 500
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Başarılı.",
            "content": {
              "application/json": {
                "example": {
                  "status": "success",
                  "statusCode": 200,
                  "data": {
                    "data": [
                      {
                        "text": "R2 CEZAEVİ-EĞİTİM ARAŞTIRMA-BÜYÜK CAMİ",
                        "id": 993,
                        "line_code": "R2 CEZAEVİ-BÜYÜK CAMİ",
                        "short_line_name": "R2",
                        "first_station": {
                          "station_name": "10052 - BÜYÜK CAMİ",
                          "latitude": "41.294762",
                          "longitude": "36.333906"
                        },
                        "last_station": {
                          "station_name": "11872 - YENİ CEZAEVİ",
                          "latitude": "41.259421",
                          "longitude": "36.234579"
                        }
                      }
                    ]
                  }
                }
              }
            }
          }
        }
      }
    },
    "x-gtfs-mapping": {
      "lineCode": "→ hat.code (orijinal) / hat.gtfs_route_id (GTFS ASCII-safe)",
      "lineName": "→ hat.name (orijinal) / hat.gtfs_route_long_name (GTFS Title Case)",
      "shortLineName": "→ hat.short_name (orijinal) / hat.gtfs_route_short_name (≤12 char)",
      "tip": "→ hat.tip (orijinal) / hat.gtfs_route_type (0=tram, 3=bus, 4=ferry, 6=cable)"
    }
  },
  "components": {}
}