{
  "openapi": "3.0.1",
  "info": {
    "title": "OtobusHareketSaatleriSoapToJson",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://api.samsun.bel.tr/OHSSoapToJson"
    }
  ],
  "paths": {
    "/api/Asis/Lines": {
      "get": {
        "tags": [
          "Asis"
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/Asis/OrjLines": {
      "get": {
        "tags": [
          "Asis"
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/Asis/StopsStations": {
      "get": {
        "tags": [
          "Asis"
        ],
        "parameters": [
          {
            "name": "lineCode",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "stopId",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/Asis/SmartStations": {
      "get": {
        "tags": [
          "Asis"
        ],
        "parameters": [
          {
            "name": "stationId",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/Asis/LineDirections": {
      "get": {
        "tags": [
          "Asis"
        ],
        "parameters": [
          {
            "name": "lineCode",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/Asis/RealTimeData": {
      "get": {
        "tags": [
          "Asis"
        ],
        "parameters": [
          {
            "name": "lineCode",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/Asis/Schedules": {
      "get": {
        "tags": [
          "Asis"
        ],
        "parameters": [
          {
            "name": "lineCode",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "scheduleDate",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    }
  },
  "components": {}
}